.container {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding-top: 6rem;
}

.innerContainer {
  width: 90vw;
  min-height: 80vh;
  position: absolute;
  top: 12rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #212a31;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  color: #eee;
  font-family: "Comfortaa", sans-serif;
}

.heading {
  font-size: 2.5rem;
}

.orderContainer {
  width: 95%;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
}

.orderDescription {
  background-color: #efb11d;
  height: 4rem;
  font-family: "Comfortaa", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 3rem;
  font-size: 1.8rem;
}

.orderItem {
  height: 25rem;
  background-color: #2e3944;
  display: flex;
  color: #eee;
  box-shadow: 1rem 3rem 3rem rgba(0, 0, 0, 0.5);
  position: relative;
  margin-bottom: 1rem;
}

.imageContainer {
  height: 100%;
  width: 15%;
  background-color: #fff;
  overflow: hidden;
}

.itemImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.itemDetails {
  font-size: 1.5rem;
  width: 70%;
  padding: 3rem;
}

.itemTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.itemPrice {
  font-family: "Comfortaa", sans-serif;
  width: 15%;
  display: grid;
  place-items: center;
}

.itemQuantity {
  position: absolute;
  bottom: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}
